@keyframes animation-fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

.fadeIn {
  animation-name: animation-fadein;
  animation-duration: 0.5s;
}

a:hover > svg {
  fill: black;
}

h2:hover > span {
  color: #FA5AAD;
}